-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag  movies_path, :id => 'ratings_form', :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", rating, @selected.include?(rating)
    /check if @selected includes rating, if so, checkbox is checked
  = submit_tag 'Refresh', :id => 'ratings_submit'

%table#movies
  %thead
    %tr
      /haml add class to element-- th{:class => someclass}  
      %th{:class => hilite?('title')}
        /two keys passed, params[:sort] and params[:ratings] become available 
        = link_to "Movie Title", movies_path(:sort => 'title', :ratings => @selected),
        :id => 'title_header'
      %th Rating
      /hilite? helper method defined in movies_helper.rb
      %th{:class => hilite?('release_date')}
        = link_to "Release Date", movies_path(:sort=> 'release_date', :ratings => @selected),
        :id => 'release_date_header'
      %th More Info
      /%th Edit
      /%th Delete
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)
        /%td= link_to "Edit", edit_movie_path(movie)
        /%td= button_to "Delete", movie_path(movie), :method => :delete, :conform => "Are you sure?"

= link_to 'Add new movie', new_movie_path
